.all-product-box {
    padding-top: 120px;
    padding-bottom: 120px;
}
.all-product-box h2 {
    margin-bottom: 40px;
}
.product-grid .container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.product-grid .container .card {
    width: calc(25% - 110px);
    background: #f5f5f5;
    padding: 40px 40px 95px 40px;
    position: relative;
    border-radius: 5px;
}
.product-grid .container .card h5 {
    margin: 10px 0;
}
.product-grid .container .card h4 a {
    color: #333;
}
.product-grid .container .card h4 a:hover {
    color: #2F82C8;
}
.product-grid .container .card img {
    max-width: 200px;
}
.product-grid .container .card .btn-commerce {
    position: absolute;
    left: calc(50% - 77px);
    bottom: 40px;
}


.about-section {
    background: url('../images/about-banner.jpg') no-repeat;
    background-size:cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-position: center;
}
.about-section:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
    content: "";
}
.description-about {
    padding: 120px 0;
}
.description-about .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.about-section h1 {
    color:#fff;
    position: relative;
}

.all-product-box .btn-commerce {
    margin-top: 50px;
    cursor: pointer;
}